* {
    box-sizing: border-box;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  [class*="col-"] {
    float: left;
    padding: 15px;
  }

  html {
    font-family: "Lucida Sans", sans-serif;
  }

  .header {

    color: white;
    text-align: center;
    text-transform: uppercase;
    height: 100px;
    background-color:white;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    padding: 10px;
    border-style: groove;
    background-position: center;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#11882a), to(#16012e));
    
  
  }

  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu li {
    height: 40px;
    padding: 8px;
    margin-bottom: 7px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
	margin: 10px 0px 0px 0px;
    
    color:rgb(228, 215, 215);
    border: 3px solid rgb(0, 0, 0, 0.7);
	  -moz-border-radius: 7px;
	  -webkit-border-radius: 7px;
	  padding: 0px;
	  background: -moz-linear-gradient(top, #65b6cf , #2c2c2c); 
	  background: -webkit-gradient(linear, 0 0, 0 100%, from(#65b6cf), to(#2c2c2c));
	  -moz-box-shadow: 10px 10px 6px #000000;
	  -webkit-box-shadow: 10px 10px 6px #000000;
	  box-shadow: 10px 10px 6px #000000;
  }

  .menu li:hover {
    background-color: #0099cc;
  }

  .aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .footer {
    height: 200px;
      background-color:white;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      padding: 10px;
      border-style: groove;
      background-position: center;
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#11882a), to(#16012e));

  }

 

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  } 